header{
    margin: 0 auto;
    height: 60px;
    width: 90%;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 32px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header img
{
    width: 15%;
    margin-left: 2rem;    
}
header ul{
    margin-right: 2rem;
    display: flex;
}

header ul li
{
    width: 80px;
    padding: 6px;
    background-color: black;
    list-style: none;
    margin-left:2rem ;
    text-align: center;
    border-radius: 6%;
}

header ul li a 
{
    text-decoration: none;
    color: white;
    font-size: 18px;
}